@{
    ViewData["Title"] = "Home Page";
}

<h1>
    ASP.NET Core web app signing-in users in Azure AD B2C
</h1>
<p>
	This sample shows how to build a .NET Core 2.2 MVC Web app that uses OpenID Connect to sign in users in Azure AD B2C. It leverages the ASP.NET Core OpenID Connect middleware.
</p>
<img src="https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/raw/master/1-WebApp-OIDC/1-5-B2C/ReadmeFiles/sign-in.png
"/>