@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Integrating Azure AD V2 into an ASP.NET Core web app and calling the Microsoft Graph API on behalf of the user
</h1>
<p>
    This sample shows how to build a .NET Core MVC Web app that uses OpenID Connect to sign in users. Users can use personal accounts (including outlook.com, live.com, and others) as well as work and school accounts from any company or organization that has integrated with Azure Active Directory. It leverages the ASP.NET Core OpenID Connect middleware.
</p>
<img src="https://github.com/snobu/active-directory-aspnetcore-webapp-openidconnect-v2/raw/cachefix/ReadmeFiles/sign-in.png"/>