################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/Microsoft.Identity.Web/.vs
/Microsoft.Identity.Web/bin
/Microsoft.Identity.Web/obj
/1-WebApp-OIDC/1-1-MyOrg/.vs
/1-WebApp-OIDC/1-1-MyOrg/bin
/1-WebApp-OIDC/1-1-MyOrg/obj
/1-WebApp-OIDC/1-2-AnyOrg/.vs
/1-WebApp-OIDC/1-2-AnyOrg/bin
/1-WebApp-OIDC/1-2-AnyOrg/obj
/1-WebApp-OIDC/1-3-AnyOrgOrPersonal/.vs
/1-WebApp-OIDC/1-3-AnyOrgOrPersonal/bin
/1-WebApp-OIDC/1-3-AnyOrgOrPersonal/obj
/1-WebApp-OIDC/1-4-Sovereign/.vs
/1-WebApp-OIDC/1-4-Sovereign/bin
/1-WebApp-OIDC/1-4-Sovereign/obj
/1-WebApp-OIDC/1-5-B2C/.vs
/1-WebApp-OIDC/1-5-B2C/bin
/1-WebApp-OIDC/1-5-B2C/obj
/1-WebApp-OIDC/1-6-SignOut/.vs
/1-WebApp-OIDC/1-6-SignOut/bin
/1-WebApp-OIDC/1-6-SignOut/obj
/2-WebApp-graph-user/2-1-Call-MSGraph/.vs
/2-WebApp-graph-user/2-1-Call-MSGraph/bin
/2-WebApp-graph-user/2-1-Call-MSGraph/obj
/2-WebApp-graph-user/2-2-TokenCache/.vs
/2-WebApp-graph-user/2-2-TokenCache/bin
/2-WebApp-graph-user/2-2-TokenCache/obj
/2-WebApp-graph-user/2-3-Best-Practices/.vs
/2-WebApp-graph-user/2-3-Best-Practices/bin
/2-WebApp-graph-user/2-3-Best-Practices/obj
/3-WebApp-multi-APIs/.vs
/3-WebApp-multi-APIs/bin
/3-WebApp-multi-APIs/obj
/4-WebApp-your-API/.vs
/4-WebApp-your-API/bin
/4-WebApp-your-API/obj
/5-WebApp-AuthZ-Roles-Groups/.vs
/5-WebApp-AuthZ-Roles-Groups/bin
/5-WebApp-AuthZ-Roles-Groups/obj
/6-Deploy-to-Azure/.vs
/6-Deploy-to-Azure/bin
/6-Deploy-to-Azure/obj
/2-WebApp-graph-user/2-2-TokenCache/AppCreationScripts/createdApps.html
/2-WebApp-graph-user/2-1-Call-MSGraph/AppCreationScripts/createdApps.html
/2-WebApp-graph-user/2-2-TokenCache/AppCreationScripts/Steps.md
/1-WebApp-OIDC/1-3-AnyOrgOrPersonal/AppCreationScripts/createdApps.html
/1. WebApp signs-in users with Microsoft Identity (OIDC)/1.1. in my org/obj
/1. WebApp signs-in users with Microsoft Identity (OIDC)/1.2. in any org/obj
/5-WebApp-AuthZ/Groups/.vs
/5-WebApp-AuthZ/Groups/bin/Debug/netcoreapp2.2
/5-WebApp-AuthZ/Groups/obj
/5-WebApp-AuthZ/Roles/.vs
/5-WebApp-AuthZ/Roles/obj/Debug/netcoreapp2.2
/5-WebApp-AuthZ/Roles/obj
/5-WebApp-AuthZ/Groups/AppCreationScripts/Steps.md
/5-WebApp-AuthZ/Groups/AppCreationScripts/createdApps.html
/5-WebApp-AuthZ/5-1-Roles/.vs
/5-WebApp-AuthZ/5-1-Roles/bin/Debug/netcoreapp2.2
/5-WebApp-AuthZ/5-1-Roles/obj
/5-WebApp-AuthZ/5-2-Groups/.vs
/5-WebApp-AuthZ/5-2-Groups/bin/Debug/netcoreapp2.2
/5-WebApp-AuthZ/5-2-Groups/obj
/5-WebApp-AuthZ/5-1-Roles/AppCreationScripts/createdApps.html
/5-WebApp-AuthZ/5-1-Roles/AppCreationScripts/Steps.md
/5-WebApp-AuthZ/5-1-Roles/WebApp-OpenIDConnect-DotNet.csproj.user
*.user
*.saz
