################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/Microsoft.Identity.Web/.vs
/Microsoft.Identity.Web/bin
/Microsoft.Identity.Web/obj
/1. WebApp signs-in users with Azure AD (OIDC)/1.3. WebApp signs-in work and school or personal accounts/.vs
/1. WebApp signs-in users with Azure AD (OIDC)/1.3. WebApp signs-in work and school or personal accounts/bin
/1. WebApp signs-in users with Azure AD (OIDC)/1.3. WebApp signs-in work and school or personal accounts/obj
/1. WebApp signs-in users with Microsoft Identity (OIDC)/1.1. in my org/.vs
/1. WebApp signs-in users with Microsoft Identity (OIDC)/1.1. in my org/obj
/1. WebApp signs-in users with Microsoft Identity (OIDC)/1.1. in my org/bin
/2. WebApp calls Microsoft Graph on behalf of signed-in user/2.1. using authorization code flow/.vs
/2. WebApp calls Microsoft Graph on behalf of signed-in user/2.1. using authorization code flow/obj
/2. WebApp calls Microsoft Graph on behalf of signed-in user/2.1. using authorization code flow/bin
/3. WebApp calls several APIS (incremental consent and CA)/.vs
/3. WebApp calls several APIS (incremental consent and CA)/bin
/3. WebApp calls several APIS (incremental consent and CA)/obj
