@{
    ViewData["Title"] = "Home Page";
}

    <h1>
        Secure an ASP.NET Core Web API with the Microsoft identity platform (Azure Active Directory)
    </h1>
    <p>
        This sample shows how to secure a Web API built with ASP.NET Core using the Microsoft identity platform .The client uses OpenID Connect to sign in users. It leverages the ASP.NET Core OpenID Connect middleware
        and Microsoft.Identity.Web.
    </p>
<img src="https://raw.githubusercontent.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/master/4-WebApp-your-API/4-1-MyOrg/ReadmeFiles/topology.png"/>
