@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table>
    <tr>
        <td>Property</td>
        <td>Value</td>
    </tr>
    @{
        Newtonsoft.Json.Linq.JObject me = ViewData["me"] as Newtonsoft.Json.Linq.JObject;
        IEnumerable<Newtonsoft.Json.Linq.JProperty> children = me.Properties();
        foreach (Newtonsoft.Json.Linq.JProperty child in children)
        {
            <tr>
                <td>@child.Name</td>
                <td>@child.Value
                <td>
            </tr>
        }
    }
</table>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>