@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Integrating Azure AD V2 into an ASP.NET Core web app in National clouds
</h1>
<p>
    This sample shows how to build a .NET Core MVC Web app that uses OpenID Connect to sign in users. Users can work and school accounts from any company or organization in national clouds. It leverages the ASP.NET Core OpenID Connect middleware.
</p>
<img src="https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/raw/master/1-WebApp-OIDC/1-4-Sovereign/ReadmeFiles/sign-in.png" />
