@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h3>
            An ASP.NET Core Web App accessing Web API that calls Microsoft Graph
        </h3>
        <br />
        <p>
            To enable the users on your tenant to access this application and the web API,
            you need to sign-in as an admin and consent for the required permissions. This makes the this app and the Web API available to all users in the tenant.
        </p>

        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="AdminConsentApi">Consent as Admin</a>

        <p>
            Note that you'd be asked to consent twice, once for the client app and then again for the Web API
        </p>
    </div>