@{
    ViewData["Title"] = "Admin Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>
    
</h2>
<p>
This page is a placeholder meant to show how you can further restrict pages to members of certain groups such as admin groups.
</p>
