
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Access Denied</h2>

<h2>You do not have the permission to access this action. Please <a href="~/AzureAD/Account/SignOut">sign-out</a> and sign-in again with an account that has the roles assigned to access this action.</h2>

