@{
    ViewData["Title"] = "UnauthorizedTenant";
}

<h2>Unauthorized Tenant</h2>
<p>You have signed-in with an user account from a Tenant that hasn't on-boarded this application yet.</p>
<p>Please complete the authorization process via the onboarding process by clicking on the link below.</p>
<a class="btn btn-info" asp-controller="Onboarding" asp-action="SignUp">Take me to the onboarding process</a>